<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">
      {{ friend.firstName }} {{ friend.lastName }}
    </h5>
    <small>
      <div class="heart-rating">
        <!-- the click notifies it to the parent because only parents needs to know, the child doesn't know when it's clicked on -->

        <!-- option 1, set the class in html -->
        <!-- <span class="fa" [ngClass]="friend.fav ? 'fa-heart': 'fa-heart-o'" data-rating="1"></span> -->

        <!-- option 2, set the class via typescript, espcially useful if you have a lot of logic -->
        <!-- the false after like() is important to prevent event propagation so that it doesn't fire off other events-->
        <span class="fa" (click)="like(); false;" [ngClass]="getHeartClass()" data-rating="1"></span>

      </div>
    </small>
  </div>
</a>
